{% extends 'base.html' %} {% block content %}
{% load static %}
{% load crispy_forms_tags %}

{% block extra_head_content %}
<script>
  window.availability_json = {{ availability_json | safe }};
</script>
{% endblock %}

<div class="masthead">
  <div class="container">
    <div class="row g-0">
      <div class="col-md-6 masthead-text">
        <!-- Contractor title goes in these h1 tags -->
        <h1 class="contractor-title">{{ contractor.user.username }}</h1>
        {% if is_own_profile %}
        <a class="btn btn-success align-self-start" href="{% url 'edit_contractor_profile' contractor.id %}">Edit
          profile</a>
        {% endif %}
        <h2 class="h5 mb-1 mt-2">Skills</h2>
        <div>
          {% for skill in contractor.skills %}
          <span class="badge text-bg-info">{{ skill }}</span>
          {% endfor %}
        </div>
        <h2 class="h5 mb-1 mt-4">Locations</h2>
        <div>
          {% for location in contractor.locations %}
          <span class="badge text-bg-info">{{ location }}</span>
          {% endfor %}
        </div>
        <h2 class="h5 mb-1 mt-4">Availability:</h2>
        <div id="availability-calendar"></div>

        <h2 class="h5 mt-4 mb-1">Experience</h2>
        <p class="contractor-experience mb-0">
          {{ contractor.bio | safe }}
        </p>
        <h2 class="h5 mt-4 mb-1">Average Rating:</h2>
        {% if contractor.average_rating %}
        <div class="rating">
          {% for i in "12345" %}
          {% if i|add:"0" <= contractor.average_rating %} <i class="fas fa-star"></i>
            {% else %}
            <i class="far fa-star"></i>
            {% endif %}
            {% endfor %}
            ({{ contractor.average_rating|floatformat:1 }} / 5)
        </div>
        {% else %}
        No ratings yet
        {% endif %}

        <div class="contractor-reviews mt-4">
          <h3>Reviews:</h3>
          {% for rating in ratings %}
          <div class="review">
            <p><strong>{{ rating.creator.username }}:</strong> {{ rating.review }}</p>
            <p>Rating:
              {% for i in "12345" %}
              {% if i <= rating.rating %} <i class="fas fa-star"></i>
                {% else %}
                <i class="far fa-star"></i>
                {% endif %}
                {% endfor %}
            </p>

            {% if rating.creator == user %}
            <button class="btn btn-delete btn-lg" review-id="{{ review.id }}">Delete</button>
            <button class="btn btn-edit btn-lg" review-id="{{ review.id }}">Edit</button>

            {% endif %}
          </div>
          {% endfor %}
        </div>
      </div>
      <div class="d-none d-md-block col-md-6 masthead-image">
        <img src="{% static 'images/default.jpg' %}" class="scale reduced-size" alt="placeholder">
      </div>
    </div>
  </div>
</div>

<!-- Displaying Comments -->


<div class="card-body">
  <!-- We want a for loop inside the empty control tags
      to iterate through each comment in comments -->
  {% for review in reviews %}
  <div class="p-2 reviews
      {% if  not review.approved and review.creator == user %}
        faded{% elif not review.approved %} d-none{% endif %}">
    <p class="font-weight-bold">
      {{ review.creator }}
      <span class="font-weight-normal">
        {{ review.created_on }}
      </span> wrote:
    </p>
    <div id="review{{ review.id }}">
      {{ contractorRating.review | linebreaks }}
    </div>
    {% if not review.approved and review.creator == user %}
    <p class="approval">
      This review is awaiting approval
    </p>
    {% endif %}
    {% if user.is_authenticated and review.creator == request.useruser %}
    <button class="btn btn-delete btn-lg" data-review-id="{{ review.id }}">Delete</button>
    <button class="btn btn-edit btn-lg" data-review-id="{{ review.id }}">Edit</button>
    {% endif %}
  </div>
  <!-- Our for loop ends here -->
  {% endfor %}
</div>

</div>
<!-- If the user is authenticated, display the form -->
<div class="container">
  <div class="row">
    <div class="col card mb-4 mt-3 left top">
      <div class="card-body">
        {% if user.is_authenticated %}
        <h3>Leave a Review:</h3>
        <form id="contractoratingForm" method="post" style="margin-top: 1.3em;">
          {% csrf_token %}
          {{ form|crispy }}
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        {% else %}
        <p style="color: rgb(11, 34, 37);"><a href="{% url 'account_login' %}">Log in</a> to leave a comment</p>
        {% endif %}
      </div>
    </div>
  </div>
</div>

<!-- Delete confirmation modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Delete review?</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete your review?
        This action cannot be undone.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <a id="deleteConfirm" href="#" class="btn
      btn-danger">Delete</a>
      </div>
    </div>
  </div>
</div>






{% endblock content %}

{% block extra_scripts %}
<script type="module" src="{% static 'js/contractorDetail.js' %}"></script>
<script src="{% static 'js/review.js' %}"></script>
{% endblock %}