{% extends "base.html" %}

{% load static %}
{% load crispy_forms_tags %}

{% block title %}
Search List
{% endblock %}

{% block extra_head_content %}
<link href="https://unpkg.com/slim-select@latest/dist/slimselect.css" rel="stylesheet">
</link>
<script>
    window.availability_json = {{ availability_json | safe }};
</script>
{% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <!-- Search Area -->
        <div class="search-area justify-content-evenly">
            <!-- Side Panel for Advanced Search -->
            <div>
                <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">Advanced Search
                </button>

                <div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions"
                    aria-labelledby="offcanvasWithBothOptionsLabel">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Advanced Search</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>

                    <!-- Filter Form -->
                    <div class="offcanvas-body">
                        <div class="input-group flex-wrap flex-column">
                            <form method="GET" class="align-content-left">
                                <p>Search for a specific skill or location:</p>

                                <!-- {% crispy search_form %} -->
                                <label class="form-label" for="skills-select">Skills</label>
                                <select name="skills" id="skills-select" multiple>
                                    {% for skill in skills_choices %}
                                    <option value="{{ skill.0 }}" {% if skill.0 in selected_skills %} selected
                                        {%endif%}>{{ skill.1 }}</option>
                                    {% endfor %}
                                </select>
                                <label class="form-label" for="locations-select">Locations</label>
                                <select name="locations" id="locations-select" multiple>
                                    {% for location in locations_choices %}
                                    <option value="{{ location.0 }}" {% if location.0 in selected_locations %} selected
                                        {%endif%}>
                                        {{ location.1 }}</option>
                                    {% endfor %}
                                </select>
                                <label class="form-label" for="availability">Availability</label>
                                <input type="hidden" name="availability" id="availability-hidden" value="">
                                <div id="availability-calendar"></div>
                                <button type="submit" class="btn btn-primary">Search</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Search Form -->
            <form action="" method="get" class="align-content-center">
                <p>Search for a specific skill or location:</p>
                <input name="q" type="text" placeholder="Search skills or location...">
                <button id="searchButton" type="submit" class="btn btn-primary">Search</button>
            </form>
        </div>

        <!-- Check if Logged In -->
        <div class="filter-result justify-content-between">
            {% if user.is_authenticated %}
            <!-- Contractor Listing Posts -->
            {% for contractor in userprofile_list %}
            <div
                class="card result-card d-flex flex-row align-content-center flex-wrap flex-sm-wrap flex-md-nowrap flex-lg-nowrap">
                <div class="profile-img d-none d-sm-flex col-5 col-sm-3 col-md-2">
                    <img src="{% if not contractor.profile_image %} {% static 'images/default.jpg' %} {% else %} {{ contractor.profile_image.url }} {% endif %}"
                        class="scale img-fluid reduced-size" alt="LogoImg">
                </div>
                <div class="result-list d-flex flex-row flex-nowrap">
                    <div class="result-name flex-column d-md-flex align-items-start">
                        <!-- Contractor Display Name -->
                        <h5 class="text-center text-md-left">{{ contractor.user.username }}</h5>
                        <!-- Rating -->
                        <p class="card-text"><strong>Average Rating:</strong>
                            {% if contractor.average_rating %}
                        <div class="rating">
                            {% for i in "12345" %}
                            {% if i|add:"0" <= contractor.average_rating %} <i class="fas fa-star"></i>
                                {% else %}
                                <i class="far fa-star"></i>
                                {% endif %}
                                {% endfor %}
                                ({{ contractor.average_rating|floatformat:1 }} / 5)
                        </div>
                        {% else %}
                        Not Rated
                        {% endif %}
                        </p>
                    </div>
                </div>
                <div class="result-list d-flex flex-row flex-wrap flex-grow-1">
                    <div class="job-content d-flex flex-column flex-wrap d-none d-md-flex">
                        <ul class="d-flex flex-column flex-wrap text-capitalize result-listing-ul card-text">
                            <!-- Contractor Skills -->
                            <li class="">
                                <i class="fa-solid fa-circle-info"></i> {{ contractor.skills | join:", " }}
                            </li>
                            <!-- Contractor Locations -->
                            <li class="">
                                <i class="fa-solid fa-location-dot"></i> {{ contractor.locations | join:", " }}
                            </li>
                            <!-- Contractor Availability -->
                            <li class="">
                                <i class="fa-solid fa-calendar-days"></i> {{ contractor.availability | join:", " }}
                            </li>
                        </ul>
                    </div>
                </div>

                <!-- Profile Link -->
                <div
                    class="my-4 flex-grow-1 flex-md-grow-0 flex-shrink-0 d-md-flex align-content-center align-items-center">
                    <a href="{% url 'contractordetail' contractor.id %}"
                        class="btn d-block w-100 d-sm-inline-block btn-primary">View Profile</a>
                </div>
            </div>
            {% endfor %}

            <!-- Prompts log in -->
            {% else %}
            <h5 class="posts-row">
                You are not <b>logged in</b>.
                <br>
                Please <a class="link" href="{{ login_url }}">log in</a> or <a class="link"
                    href="{{ signup_url }}">register</a> to access the search listing.
            </h5>
            {% endif %}

            {% if is_paginated %}
            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center">
                    {% if page_obj.has_previous %}
                    <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link btn-nav"> &laquo; PREV</a>
                    </li>
                    {% endif %}
                    {% if page_obj.has_next %}
                    <li><a href="?page={{ page_obj.next_page_number }}" class="page-link btn-nav"> NEXT &raquo;</a></li>
                    {% endif %}
                </ul>
            </nav>
            {% endif %}
        </div>
    </div>
</div>

{% endblock content %}

{% block extra_scripts %}
<script src="https://unpkg.com/slim-select@latest/dist/slimselect.min.js"></script>
<script type="module" src="{% static 'js/contractorSearch.js' %}"></script>
{% endblock %}