:root {
    --main-color: #541388;
    --secondary-color: #48AD5E;
    --main-font: 'Poppins', sans-serif;
    --secondary-font: 'Roboto', sans-serif;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-family: var(--main-font);
    background-color: #A1A2A5;
}

main {
    flex: 1;
}

.navbar {
    font-family: var(--main-font);
    background-color: var(--main-color);
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.nav-link {
    color: white; /* Set the text color to white */
}

.nav-link.active {
    color: var(--secondary-color); /* Set the text color to the secondary color */
}

.brand {
    color: white;
}

.footer {
    font-family: var(--main-font);
    background-color: var(--main-color);
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}

.social {
    color: white;
}

h2 {
    color: var(--main-color);
    font-family: var(--main-font);
}

.hero-image1 {
    background-image: url('/static/images/heroimage1.png');
    background-size: cover;
    background-position: center;
    height: 400px;
    position: relative;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-image2 {
    background-image: url('/static/images/heroimage2.png');
    background-size: cover;
    background-position: center; /* Adjust as needed */
    height: 400px;
    width: 100%;
    position: relative;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-text {
    background-color: rgba(0, 0, 0, 0.5); /* Add a semi-transparent background color */
    padding: 20px;
    border-radius: 10px;
    color: var(--secondary-color);
    font-family: var(--secondary-font);
}

.container {
    margin-top: 20px;
}

.container .row .col-md-6 {
    margin-bottom: 20px;
}

.img-fluid {
    width: 60%;
    height: auto;
}





.rating {
    display: flex;
    align-items: center;

}

.rating .fa-star {
    color: #c508d6; /* Gold color for filled stars */
    margin-right: 5px;
}

.rating .fa-star.far {
    color: #ccc; /* Light grey color for empty stars */
}


.masthead-image img

{ 
    width: 100%;
height: auto;
object-fit: cover;
border-radius: 15px;
 }
 .masthead-text {
 padding: 20px;
display: flex;
flex-direction: column;
justify-content: center;
}

.img-fluid {
    width: 60%;
    height: auto;

}

.search-area {
    display: flex;
    border-radius: 10px;
    padding: 10px 35px;
    text-align: center;
}

.filter-result {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 10px 35px;
}

.result-card {
    padding: 1rem;
    margin: 1rem;
}

.profile-img {
    align-self: center;
}

.result-list {
    display: flex;
}

.job-content {
    flex-direction: column;
    padding: 1rem;
}

.result-listing-ul {
    list-style-type: none;
    flex-direction: column;
}


/*** button styles ***/

/* Edit button */
.btn-edit {
    background-color: #19768d;
    font-weight: bold;
    border: none;
    padding: 10px 20px;
    margin: 10px 0;
    cursor: pointer;
    border-radius: 8px;
    }
    
    .btn-edit:hover {
    background-color: #8398af;
}

/* Delete button */
.btn-delete {
    background-color: #e04199;
    color: #000;
    font-weight: bold;
    border: none;
    padding: 10px 20px;
    margin: 10px 0;
    cursor: pointer;
    border-radius: 8px;
}

.btn-delete:hover {
    background-color: #f2a3d7;
}


.btn-primary {
    background-color:#19768d;
    border-color: #19768d;
    color: #fff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}